// fonts
$lato: "Lato", sans-serif;

//text
h2 {
  font-family: $lato;
  font-weight: 600;
  font-size: 18px;
}

h3 {
  font-family: $lato;
  font-weight: 500;
  font-size: 17px;
}

h4 {
  font-family: $lato;
  font-weight: 500;
  font-size: 17px;
  margin: 0;
}

//body
// html {
//   scroll-behavior: smooth;
// }

.container {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  position: relative;
  // padding-bottom: 59.2px;
}

body {
  margin-bottom: 0;
  height: 100%;
  overflow: hidden;
}

//active container

// .container {
//   display: none;

//   &.active {
//     display: block;
//   }
// }

// navbar

.navbar {
  display: flex;
  align-items: flex-end;
  height: 170px;
  padding-top: 15px;
  background-color: white;
  text-transform: uppercase;
  font-family: $lato;
  font-size: 18px;
  position: sticky;
  width: 1200px;
  border-bottom: 1px solid rgb(184, 184, 184);
  top: 0;
}

.navbar-logo-home {
  flex: 1;

  .navbar-logo {
    width: 145px;
    height: 150px;
    background-image: url(../images/logotyp.png);
    background-size: cover;
    margin: 50px 10px 20px 40px;
  }
}

.navbar-buttons {
  flex: 2;
  width: 800px;
  align-items: flex-end;
  margin-bottom: -8px;

  .link {
    margin: 0;
    padding: 10px 50px;
  }

  .link-lg {
    margin: 0px;
    padding: 10px 10px;
  }

  .link-lg-pl {
    margin-left: 100px;
  }

  a {
    text-decoration: none;
    color: #8a0600;
  }

  .link:hover {
    color: black;
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(78, 78, 78);
  }
}

.menu-list li {
  display: inline;
}

.nav-offer {
  display: inline-block;
}

// a.anchor {
//   display: block;
//   position: relative;
//   top: -170px;
//   visibility: hidden;
// }

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgb(253, 253, 253);
  font-size: 16px;
  text-align: left;
  width: 500px;
  margin-top: 11px;

  .button-border {
    padding: 10px 20px;
  }

  .button-border:hover {
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(78, 78, 78);

    a {
      color: black;
    }
  }
}

.nav-offer:hover .dropdown-menu {
  display: block;
}

//about

.about-1 {
  width: 1200px;
  height: 300px;
  background-image: url(../images/tło1.png);
  background-size: cover;
}

.about-1-1 {
  width: 700px;
  padding: 30px;
}

.about-2 {
  width: 1200px;
  height: 500px;
  background-image: url(../images/tło2.png);
  // background-size: cover;
  color: white;
  display: flex;
}

.about-2-1 {
  flex: 2;
  padding: 20px 30px;
  
  ul {
    padding-left: 15px;
  }
}

.about-2-2 {
  flex: 1;
  padding: 20px 30px;
}

//offer

.offer-title {
  flex: 20%;
  color: #8a0600;
  padding: 20px 15px 20px 30px;
}

.offer-content {
  flex: 80%;
  padding: 20px 30px 20px 0px;
}

.offer-1,
.offer-3,
.offer-5 {
  width: 1200px;
  min-height: 300px;
  display: flex;
  background-color: rgb(254, 254, 254);

  ul {
    padding-left: 15px;
    
    li {
      padding: 4px 0;
    }
  }
}

.offer-2,
.offer-4,
.offer-6 {
  width: 1200px;
  min-height: 300px;
  display: flex;
  background-color: #f3f3f3;

  ul {
    padding-left: 15px;

    li {
      padding: 4px 0;
    }
  }
}

//contact

.contact {
  width: 1200px;
  height: 500px;
  background-image: url(../images/tło3.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact ul li a {
  text-decoration: none;
  color: black;
  display: inline;

}

.contact-logo {
  flex: 20%;

  img {
    height: 150px;
    margin-left: 30px;
  }
}

.contact-content {
  flex: 80%;

  .contact-list li {
    display: inline-block;
    padding: 0px 25px;
  }
  
  .text {
    padding: 20px 40px;
  }
}

//footer

.footer {
  width: 1200px;
  background-color: rgb(75, 75, 75);
  text-align: center;
  bottom: 0;
  position: absolute;
  

  h4 {
    margin: 0px;
    padding: 35px 0px;
  }
}
